<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

        <h1>Vikram</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur hic at excepturi corporis ratione. In sint fugiat molestias commodi error officia quam cum expedita quisquam, optio sed ipsum voluptatem dolores.</p>

    </body>
    
</html>